.numerai
.git

data/numerai.zip
data/predictions.csv

data/model/*
data/log/*

data/numerai/v2/*
data/numerai/v3/*
data/numerai/v4/*

data/signal/*
data/numerai_test/*
data/model/*.joblib

catboost_info