# data files
/data/*
!/data/blank

!/data/credential
/data/credential/*
!/data/credential/blank

!/data/model
/data/model/*
!/data/model/blank

!/data/model/param
/data/model/param/*
!/data/model/param/blank

!/data/numerai
/data/numerai/*
!/data/numerai/blank

!/data/signal
/data/signal/*
!/data/signal/blank

!/data/numerai_test
/data/numerai_test/*
!/data/numerai_test/blank

!/data/numerai/v2
/data/numerai/v2/*
!/data/numerai/v2/blank

!/data/numerai/v3
/data/numerai/v3/*
!/data/numerai/v3/blank

!/data/numerai/v4
/data/numerai/v4/*
!/data/numerai/v4/blank

!/data/numerai_test/v2
/data/numerai_test/v2/*
!/data/numerai_test/v2/blank

!/data/numerai_test/v3
/data/numerai_test/v3/*
!/data/numerai_test/v3/blank

!/data/numerai_test/v4
/data/numerai_test/v4/*
!/data/numerai_test/v4/blank


!/data/log
/data/log/*
!/data/log/blank

# misc
**/__pycache__
**.pyc
.DS_*
.vscode

# lock file
Pipfile.lock


catboost_info

notebook

